/****** PLACE YOUR CUSTOM STYLES HERE ******/

.lets_accelerate
{
	height: 50px;
	line-height: 48px;
	border: 2px solid #fc4f4f;
	background: #fc4f4f;
	color: #fff;
	width: 32%;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 0 !important;
	margin: 0 auto;
}

@media all and (max-width: 767px) {
	.lets_accelerate
	{
		width: 100%;
		margin-bottom: 8px;
		float: left;
		margin-left: 0;
		
	}
}