.container .row { text-align: center; }

h2 {
  margin-top: 100px;
  text-align: center; }


#video_container {
  display: inline-block;
  margin: auto;
  margin-top: 55px;
  margin-bottom: 30px;
  max-width: 640px;
  max-height: 360px;
  border: 1px solid green;
  margin-bottom: 120px; }






  .container {  }

@media only screen
	and (max-width : 640px) {

   
   /*	#video_container { width: 100%; text-align: center; border: 1px solid red; }*/

}