
#headline_container {
  width: 100%;
  height: auto;
  min-height: 100px; }

  #headline_container h1.futura {
    font-size: 40px;
    text-align: center;
    margin-top: 25px;
	color: #000; }


#contact_wrapper,
#billing_wrapper { position: relative; }



.section {
  width: 100%;
  height: auto;
  padding: 10px 0px;
  font-size: 30px;
  color: #000;
  text-indent: 80px;
  margin-bottom: 30px;
  background: #F8F8F8;
  border: 1px solid #E7E7E7;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif; }


label {
    display: inline-block;
	*display: inline;
	zoom: 1;
	width: 150px;
    width: 110px;
	color: #333333;
	margin-left: 80px; }

  input[type="text"],
  input[type="password"] {
    width: 299px;
	height: 24px;
	margin-bottom: 20px;
	text-indent: 4px;
	color: #383838;
	position: relative;
	display: inline;
	padding: 0px 25px 0px 7px;
	border: 1px solid #999999; }

.hidden { display: none; visibility: visible; }



select {
    width: 262px;
	height: 24px;
	margin-bottom: 20px;
	color: #383838;
	 text-indent: 4px;
	 cursor: pointer;
	border: 1px solid #999999; }

	select[name="cc_exp_month"],
	select[name="cc_exp_year"] {
	  width: 144px; }

	  select.large {
	    width: 302px; }


input[type="text"].error,
	select.error,
  input[type="password"].error { border: 2px solid red; }

		input[type="text"].error,

  input[type="password"].error {
	  background: transparent no-repeat url('../images/error.png') right top; }



	input[type="text"].valid,
	select.valid,

  input[type="password"].valid { border: 2px solid #01ca64; }

	input[type="text"].valid,
  input[type="password"].valid {
	  background: transparent no-repeat url('../images/valid.png') right top }

div#radio_wrapper.error {
  border: 2px solid red; }

.total_container {
    width: 280px;
	height: auto;
	float: right;
	margin-right: 0px;
	padding: 10px 10px;
	font-size: 16px;
	font-weight: bold;
    margin-top: -110px;
	margin-top: -5px;
    border: 1px solid #CCCCCC; }

    #upsell_total {
      float: left;
      margin: auto;
      margin-left: 8px;
      margin-top: -172px; }

	.total_container table  { width: 100%; }

	  .total_container tr.order_total,
	  .total_container tr.actual_order_total {
	    color: #FFF;
		padding-top: 10px;
		background-color: #666666; }

      .total_container tr.dvd { display: none; }

      .total_container tr td { padding: 7px; }

        .total_container tr.ticket_ez td { font-size: 13px; }

	  .total_container tr td:last-child { text-align: right; }

	 .total_container tr.coupon_discount,
.total_container tr.coupon_amt { color: green; }


.checkout {
  width: auto;
  padding: 15px 30px;
  display: block;
  margin: 30px auto;
  border: 0;
  background-color: #E69839;
  font-size: 24px;
  font-weight: 700;
  color: #FFF;
  border-radius: 2px;
  font-family: "bebas_neueregular",sans-serif;
  cursor: pointer;
  -webkit-transition: 40ms linear all;
  -moz-transition: 40ms linear all;
  -ms-transition: 40ms linear all;
  -o-transition: 40ms linear all;
  transition: 40ms linear all;}
  .checkout:hover { background: #d27F1A; }

#loader {
    position: absolute;
	left: 50%;
	right: 50%;
	margin: auto -54px;
	top: 300px;
	display: none;
	z-index: 9;
	width: 300px;
	padding: 20px 20px;
	text-align: center;
	border: 1px solid #EEEEEE;
	background: #FFF;  }

div.error_msg {
  font-size: 12px;
  color: red;
  width: 220px;
  margin-left: 18px;
  display: inline-block; }



ol, ul{
  list-style: none;
}

.cards{
  overflow: hidden;
  width: 353px;
  margin: auto;
  margin-left: 197px;
  margin-bottom: 20px;
}

.cards li{
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  background-image: url(../images/cards_logos.png);
  background-position: 0 0;
  float: left;
  height: 50px;
  margin-right: 8px;
  text-indent: -9999px;
  width: 72px;
}

.cards li:last-child{
  margin-right: 0;
}

.cards .visa_electron{
  background-position: 288px 0;
}

.cards .amex{
  background-position: 144px 0;
}

.cards .mastercard{
  background-position: 216px 0;
}

.cards .discover{
  background-position: 72px 0px;
}

.cards .visa.off{
  background-position: 0 50px;
}

.cards .visa_electron.off{
  background-position: 204px 50px;
}

.cards .amex.off{
  background-position: 144px 50px;
}

.cards .mastercard.off{
  background-position: 216px 50px;
}

.cards .discover.off{
  background-position: 72px 50px;
}

#guarantee {
  position: absolute;
  top: 100px;
  right: 15px; }

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 99;
  display: none;
  background: rgba(0,0,0,.3); }

  #overlay.show { display: block; }

#loader {
  width: 400px;
  height: auto;
  min-height: 150px;
  display: none;
  position: absolute;
  z-index: 99;
  margin: auto;
  text-align: center;
  background: #FFF; }

  #loader > img { margin-top: 20px; margin-bottom: 15px; }

  #loader > div {
    font-size: 22px;
	font-weight: bold; }

/* Alert */
#alert_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 99;
  display: none;
  background: rgba(0,0,0,.5); }

#alert_container {
  width: 400px;
  height: auto;
  min-height: 80px;
  display: none;
  position: absolute;
  z-index: 99;
  margin: auto;
  text-align: center;
  display: none;
  padding: 20px;
  box-sizing: border-box;
  background: #FFF; }

  #alert_container > * { text-align: center; }

  #alert_copy {
    width: 100%;
    height: auto;
    font-size: 16px;
    color: #000;
    text-align: center;
    min-height: 85px; }

  #alert_ok {
    width: auto;
    height: auto;
    color: #FFF;
    padding: 6px 27px;
    border: 0px;
    cursor: pointer;
    border-radius: 3px;
	-webkit-appearance: none;
    display: inline-block;
    background: #2D3E50; }

@media (max-width: 750px) {
  div.error_msg { display: none; }

  .section {
  text-align: center;
  text-indent: 0px; }

  #page_content { text-align: center; }

  input[type="text"],
  label,
  select { display: inline-block; }

  #headline_container p {
    margin-left: 0px !important; }





  input[type="text"],
  select { width: 100%; display: block; }

  select[name="cc_exp_month"],
  select[name="cc_exp_year"] {
    display: inline-block;
    width: 45%; }

  .total_container {
    float: none;
	margin: auto;
	margin-bottom: 30px; }

  #checkout {
    display: block;
	margin: auto !important;
	margin-top: 30px  !important; }


  ul.cards {
    margin: auto;
    margin-left: -30px;
	margin-bottom: 20px; }

    ul.cards li { margin-right: 0px; }

	 label {
    display: block;
	width: auto;
	text-align: left;
	margin-left: 0px; }
  }



@media (max-width: 600px) {

  .popup {
    position: absolute;
	top: 60px;
	z-index: 2000;
    left: 0px;
	right: auto;
	width: 100%;
	margin: auto;
	padding-bottom: 25px; }

  input[type="text"],
  select { height: 35px; }


  }