@charset 'utf-8';
/* Pages Style Sheet */

strong { font-weight: bold; }

em { font-style: italic; }

.clear { clear: both; }

.hidden { display: none; }

input[type="text"].hidden { display: none; }


#page_content {
  width: 100%;
  height: auto;
  max-width: 800px;
  margin: auto;
  color: #333333;
  text-align: left; }

#cvv2_overlay { display: none; position: absolute; height: 1781px; width: 100%; z-index: 98; background: transparent repeat url('../images/overlay_bg.png') center top; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5); top: 0px; left: 0px; }

.popup {
  display: none;
  position: fixed;
  top: 200px;
  left: 50%;
  right: 50%;
  width: 600px;
  min-height: auto;
  height: auto;
  margin: auto -300px;
  z-index: 99;
  border-radius: 2px;
  background: #FFF;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif; }

  .popup.show { display: block; }

  .popup a { text-decoration: none; }

  .popup td { vertical-align: top; height: 100%; }

  .left_side {
    width: 250px;
	height: 100%;
	position: relative;
    float: left;
    background: #1f364a;
    background: #F8F8F8;
    -moz-border-radius: 2px 0 0 2px;
    -webkit-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;  }

	.left_side img {
	  position: absolute; top: 48%; bottom: 50%; left: 50%; right: 50%; margin: -100px; }

    .left_side div.headline {
      color: #FFF;
      font-size: 28px;
      text-transform: uppercase;
      text-align: center;
      padding-top: 17px;
      padding-bottom: 10px;
      font-family: "bebas_neueregular",sans-serif;
    }

      .left_side div.headline span { color: #FFA940;}

    div.white-border {
      margin: 10px 0px 20px;
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 4%, white 30%, white 70%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(4%, rgba(255, 255, 255, 0.13)), color-stop(30%, white), color-stop(70%, white), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 4%, white 30%, white 70%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 4%, white 30%, white 70%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 4%, white 30%, white 70%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 4%, white 30%, white 70%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 */
  height: 1px;
    }

    .left_side p.guarantee {
      color: #FFF;
      color: rgba(,255,255,255,.06);
      font-size: 14px;
      padding: 225px 17px 10px;
    }

  .right_side {
    width: 500px;
	height: auto;
	float: left; }

	.right_side select {
	  margin-left: 30px; background: #FFF; border: 1px solid #CCCCCC; width: 432px; }

	.popup select {
	  width: 80%; 
	  margin: auto; }

.popup input[type="checkbox"] { -webkit-transform:scale(1.5,1);
-icab-transform:scale(1,1);
-moz-transform:scale(1,1);
-ms-transform:scale(1,1);
-o-transform:scale(1,1);
transform:scale(1.5,1.5); }

p.text {
  color: #333333;
  font-size: 16px;
  margin-right: 30px;
  padding-left: 30px;
  margin-bottom: 20px; }

	.close {
	  position: absolute;
	  top: 4px;
	  right: 7px;
	  font-size: 16px;
	  cursor: pointer; }

  .popup h2 {
    text-align: center; padding-top: 45px; font-size: 18px; margin-bottom: 20px; }

span#cvv2_define {
  color: #3399FF;
  font-size: 11px;
  cursor: pointer;
  text-decoration: underline; }

#cvv2 {
  width: 600px;
  height: 410px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 2px;
  background: #FFF;
  display: none; }

  #cvv2 h1 {
    font-size: 18px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 30px; }

  #cvv2 img {
    display: block;
	margin: auto;
	margin-bottom: 12px; }

  #cvv2 p {
    margin: auto 25px 20px; }



  #upsell_container input.checkout {
    float: right;
	margin-right: 20px;
	margin-bottom: 20px; }

  #upsell_container div.left_side,
  #upsell_container div.right_side { height: 544px; }



input[type="button"] { cursor: pointer; }


