
strong { font-weight: bold; }

em { font-style: italic; }

.clear { clear: both; }

body,
html {
  font-size: 14px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  background: #FFF; }

.container {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin: auto;
  position: relative; }

header {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 17px;
  padding-bottom: 40px;
  font-style: italic; }

  header img {
    width: 80%; }

#page_content {
  width: 100%;
  height: auto; }

  #form_wrapper {
    width: 100%;
	height: auto; }


label {
  display: inline-block;
  width: auto;
  margin-top: 35px;}

input[type="text"] {
  width: 400px;
  height: 35px;
  margin-left: 25px;
  -webkit-box-sizing: border: box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #CCCCCC;
  display: inline-block; }

  input[type="text"].error { border: 1px solid red; }
  input[type="text"].valid { border: 1px solid green; }

input[type="checkbox"] {
  width: 25px;
  height: auto;
  margin-top: 15px;
  cursor: pointer;
  display: inline-block;
  margin-left: 20px;
  -webkit-transform: scale(1.6,1.6);
-moz-transform: scale(1.6,1.6);
-o-transform: scale(1.6,1.6);  }

input[type="checkbox"]:hover { box-shadow: 0px 0px 8px rgba(0,0,0,.5); }

input[type="checkbox"].error { border: 1px solid red; }
  input[type="checkbox"].valid { border: 1px solid green; }

input[type="checkbox"] + span {
  display: inline-block; }

select {
  width: 400px;
  height: 35px;
  margin-left: 19px;
  -webkit-box-sizing: border: box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #CCC;
  display: inline-block; }

  select.error { border: 1px solid red; }
  select.valid { border: 1px solid green; }

textarea {
  width: auto;
  height: auto;
  margin-left: 25px;
  -webkit-box-sizing: border: box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #CCCCCC;
  display: inline-block;
  cursor: pointer; }

  textarea.error { border: 1px solid red; }
  textarea.valid { border: 1px solid green; }

  div.wrapper {  }
  div.wrapper.error { border: 1px solid red; }
  div.wrapper.valid { opacity: 0.5; }

  div.wrapper.valid:hover { opacity: 1; }

button {
  width: 300px;
  height: 40px;
  color: #FFF;
  font-weight: bold;
  font-size: 18px;
  border: 0px;
  cursor: pointer;
  display: inline-block;
  margin: auto;
  margin-left: 150px;
  margin-top: 50px;
  text-align: center;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #19BD9B; }


  footer {
    padding-top: 50px;
    padding-bottom: 25px; }