@charset 'utf-8';
/* Popup CSS */

.popup_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1030;
  display: none;
  background: #000;
  background: rgba(0,0,0,.6); }

.popup {
  width: 808px;
  height: 398px;
  position: fixed;
  left: 50%;
  right: 50%;
  top: 25%;
  z-index: 1030;
  margin: 0px -404px;
  display: none;
  font-family: 'Lato', sans-serif;
  -webkit-box-shadow: inset 0 0 71px 2px rgba(0,0,0,.26);
  -moz-box-shadow: inset 0 0 71px 2px rgba(0,0,0,.26);
  box-shadow: inset 0 0 71px 2px rgba(0,0,0,.26);
  background: #FFF; }

  .popup.false { height: auto; padding-bottom: 20px; }

  .popup p {
    margin: auto;
	padding: 0px; }

  .popup_countdown {
    width: 100%;
	height: 87px;
	font-size: 26px;
	font-weight: bold;
	color: #FFF;
	line-height: 113px;
	text-align: center;
	position: relative;
	background: #262626; }

	.popup_countdown div.close {
	  font-size: 17px;
	  color: #FFF;
	  font-weight: lighter;
	  position: absolute;
	  top: 5px;
	  right: 7px;
	  color: #FFF;
	  opacity: 1;
	  line-height: 17px;
	  float: none; }

	.popup_countdown img.logo {
	  position: absolute;
	  top: -45px;
	  left: 50%;
	  right: 50%;
	  margin: auto -34px;}

  .popup_content {
    width: 100%;
	height: auto; }

	p.earlybird {
	  font-size: 74px;
	  color: #de1111;
	  text-align: center;
	  margin-bottom: -7px;
	  text-transform: uppercase; }

	  .popup.false p.earlybird { font-size: 52px; margin-top: 20px; }

	p.limited {
	  font-size: 28px;
	  text-align: center;
	  color: #373737; }

	  p.limited  span.block { display: block; }

	    p.limited span span {
		  position: relative;
		  border-bottom: 2px solid #373737; }

		  p.limited span span img {
		    position: absolute;
			top: 20px;
			left: -59px; }

  .popup_form {
    width: 100%;
	height: auto;
	padding-top: 10px;
	text-align: center; }

	.popup_form input[type="text"] {
	  width: 385px;
	  height: 58px;
	  -webkit-border-radius: 10px;
	  -moz-border-radius: 10px;
	  border-radius: 10px;
	  display: inline-block;
	  vertical-align: top;
	  border: 0px;
	  text-align: center;
	  font-size: 25px;
	  color: #000;
	  -moz-box-shadow: 0px 0px 13px rgba(0,0,0, .3) inset;
	  -webkit-box-shadow: 0px 0px 13px rgba(0,0,0, .3) inset;
	  box-shadow: 0px 0px 13px rgba(0,0,0, .3) inset;
	  background-color: #fbfadc; }

	  .popup_form input[type="text"].placeholder {
	    font-size: 25px;
		color: #373737;
		font-weight: 400; }

	.popup_form input[type="submit"] {
	  width: 298px;
	  height: 58px;
	  font-weight: bold;
	  border: 0px;
	  -webkit-border-radius: 10px;
	  -moz-border-radius: 10px;
	  border-radius: 10px;
	  display: inline-block;
	  color: #FFF;
	  vertical-align: top;
	  font-size: 25px;
	  text-align: center;
	  margin-left: 15px;
	  background-color: #cb4848;}

@media (max-width: 850px) {
  .popup  {
    width: 90%;
	height: auto;
	padding-bottom: 17px;
	margin: auto -45%; }

	.popup_countdown {
	  font-size: 22px; }

	p.earlybird { font-size: 60px; }

	p.limited { font-size: 25px; }
}

@media (max-width: 750px) {
  .popup  {
    width: 90%;
	height: auto;
	padding-bottom: 17px;
	margin: auto -45%;  }

	.popup_countdown {
	  font-size: 19px; }

	p.earlybird { font-size: 50px; }

	p.limited { font-size: 22px; }

	.popup_form input.placeholder[type="text"] { margin-bottom: 20px; }
}

@media (max-width: 650px) {
  .popup  {
    width: 90%;
	height: auto;
	padding-bottom: 17px;
	margin: auto -45%;   }

	.popup_countdown {
	  font-size: 24px; }

	p.earlybird { font-size: 50px; }

	p.limited { font-size: 18px; width: 80%; margin: auto;}

	.popup_form input.placeholder[type="text"] { margin-bottom: 20px; }
}

@media (max-width: 600px)  {
  .popup  {
    width: 90%;
	height: auto;
	padding-bottom: 17px;
	margin: auto -45%;   }

	.popup_countdown,
	div.cc {
	  font-size: 18px; }

	.popup_countdown img.logo {width: 39px; top: -20px; }

	p.earlybird { font-size: 25px; margin-bottom: 10px;}

	.popup.false p.earlybird { font-size: 18px; }

	p.limited { font-size: 15px; }

	p.limited  span.block:last-of-type {   }

	.popup_form { width: 80%; margin: auto; }

	.popup_form input[type="text"],
	.popup_form input[type="submit"] { width: 100%; font-size: 18px; margin: auto; margin-bottom: 15px; }

	  .popup_form input[type="text"].placeholder { font-size: 18px; }


}

@media (max-width: 600px) and (orientation : landscape)  {
  .popup  {
    width: 90%;
	height: auto;
	position: absolute;
	padding-bottom: 17px;
	margin: auto -45%;   }

	.popup_countdown,
	div.cc {
	  font-size: 18px; }

	.popup_countdown img.logo {width: 39px; top: -20px; }

	p.earlybird { font-size: 25px; margin-bottom: 10px;}

	p.limited { font-size: 15px; }

	p.limited  span.block:last-of-type {   }

	.popup_form { width: 80%; margin: auto; }

	.popup_form input[type="text"],
	.popup_form input[type="submit"] { width: 100%; font-size: 18px; margin: auto; margin-bottom: 15px; -webkit-appearance: none; }

	  .popup_form input[type="text"].placeholder { font-size: 18px; }


}