body, html {
	height: 100%;
	width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

.intro-header {
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 0px;
	color: #f8f8f8;
	margin: auto;
	margin-top: 50px;
	background: #F8F8F8 url(../img/intro-bg.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
}

.intro-message {
	position: relative;
	padding-top: 20%;
	padding-bottom: 20%;
}

.intro-message > h1 {
	margin: 0;
	font-size: 5em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    padding:20px 0;
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    padding:0 0 30px;
    max-width:1140px !important;
}

.what-you-get-mabs {
    background: #efefef;
    padding: 70px 0px 100px;
}

.what-you-get-mabs img {
    margin-bottom: 30px;
    margin-right: 10px;
}

@media (max-width: 767px) {
.navbar-brand { font-size: 15px; }
.navbar-brand img {
  max-width: 35px !important;
  margin-top: -2px; }

	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	background-color: #f8f8f8;
	padding: 50px 0;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

.banner {
	padding: 100px 0;
	color: #f8f8f8;
	background: url(../img/banner-bg.jpg) no-repeat center center;
	background-size: cover;
}

.banner h2 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}	
}

@media (max-width: 767px) {
	.banner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
	}

	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}	
}

footer {
	background-color: #f8f8f8;
	padding: 50px 0;
}

p.copyright {
	margin: 15px 0 0;
}
h3 .underlined {
    border-bottom:1px solid #ccc;
}

.red-start {
    font-size: 22px;
}

.padded {
    padding-top:9%;
}

.extra-big {
    font-size:37px !important;
    width:80%;
	width: 628px;
    max-width:900px;
    min-width:300px;
}

@media (max-width: 850px)
{
	.extra-big { width: 80%; }
}

.padded2 {
    padding-top:40px;
}

.mycontent {
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
    width:auto;
    padding:0 10px;
}

.mycontent > p, h2, h3 {
    max-width:800px !important;
    margin-left:auto;
    margin-right:auto;
    padding-left:10px;
    padding-right:10px;
}





.600 {
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
}

.spot-warning {
    padding-bottom:50px;
    margin-bottom:50px;
    margin-top:-40px;
    max-width:900px;
    margin-left:auto;
    margin-right:auto;
}

.lead {
	font-size: 20px;
	font-weight: 400;
}

.more-narrow {
    max-width:900px;
    margin:0 auto;
}

.padded-less {
    padding-top:5%;
}

.padded3 {
    padding-top:20px;
}

.what-you-get {
    border-bottom:1px solid #ccc;
    padding:0 0 60px 0;
}

.updated {
  font-size: 18px !important;
  color: red;
  font-weight: bold  !important; }

  span.updated {
    display: block;
	margin-top: -33px; margin-bottom: -14px; }

	h2 span.updated { margin-top: 0px; }
