<span style='color: #000'>291 frames</span>	<span style='color: #900'>10,752 KB</span>	<span style='color: #090'>960.66 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />